{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> home</title>
        <link rel="stylesheet" href="{% static 'css/home-v2.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    <body>
   
        <!-- Header Section -->
    <header id="headertag">
        <div class="headersection">
        <div class="content  flex-gap">
            <div class="containerheader">
                <nav>
                    <ul >
                         <li><img src="{% static 'images/email.png' %}" alt="eicon" width="150">thakur.raghvendra@outlook.com</li>
                         <li><img src="{% static 'images/call.png' %}" alt="callicon" width="150" class="call">+91 7869243089</li>
                    </ul>
                 </nav>
            </div>
            <div class="header-links">
                <a href="#about" class="link">About-us</a>
                <a href="#target" class="link">certificates</a>
            </div>
        </div>
        </div>
    </header>
    <!-- Main Content -->
    <main class="maintag">
        <section class="auto-slider">
            <div id="slider">
                <div class="sliderpart">
                    <div class="bannerimage">
                        <img src="{% static 'images/tradeagreement.jpg' %}" alt="Image">
                    </div>
                    <div class="backgoundcolor">
                        <p class="backgroundpahra">
                             India and UK have signed Comprehensive Economic and Trade Agreement (CETA) which eliminates tariff on 99% of India's exports to the UK, 
                             covering nearly 100% of trade value. This helps to save more money.  
                        </p>
                       
                    </div>
                </div>
                <div class="indicator"></div>
            </div>
        </section>
        <div class="content">
        <section id="about_banner">
            <div class="content">
                <div class="about_section">
                    <div class="about_detail">
                    <h1>About Us</h1>
                    <p><b>Slaavno</b> is a growing Import-Export trading company based in India. 
                        We act as a link between the manufacturers, suppliers, farmers, 
                        & artisans in India and the buyers in the UK. 
                        We are establishing our sourcing network to provide a wide range of products. 
                        Currently, we are able to source multiple products in various categories; however, 
                        if you are interested in a particular product that is not in our range, 
                        we are happy to find it for you free of charge across India. 
                        Simply share your product description and pictures with us.
                    </p>
                    <p>
                        <b>Mission—</b>We aim to provide high-standard-quality, safe, 
                        and environmentally responsible products at a fair price from our certified sources and export them to the UK to our valued customers.
                    </p>
                    </div>
                    <div class="about_heading">
                        <p class="underline">Import Export Trading company</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="product-type-section">
             <div class="content">
                <div class="product-type">
                    <div class="product-type-container">
                        <p>
                            <span class="headingspan">
                                <strong class="product-type-heading">Unleash Your Creativity with Slavno!</strong>
                            </span>
                            
                        </p>
                        <p>
                            "At"
                            <strong>Slavno</strong>
                            , we believe in turning imagination into reality. 
                            Explore our diverse range of high-quality products, 
                            designed to inspire students, artists, and professionals alike. 
                            From vibrant and stylish school essentials to innovative stationery that fuels creativity, 
                            we have everything you need to stay organized and express yourself.
                        </p>
                        <p>
                            "Discover the perfect blend of"
                            <strong>functionality, durability, and creativity</strong>
                            —because at Best Spiral, your ideas deserve the best.
                        </p>
                    </div>
                    <div class="maincontainer">
                        <div class="subcontainer">
                            <h2>Product Categories</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="target"  class="category-section">
            <div class="content">
                <div class="category-container">
                    <figure class="circle-card">
                       <img src="{% static 'images/stationary.jpg' %}" alt="eicon" width="200" class="round-circle">
                       <figcaption class="caption">hello</figcaption>
                    </figure>
                    <figure class="circle-card">
                       <img src="{% static 'images/footware.jpg' %}" alt="eicon" width="200" class="round-circle">
                       <figcaption class="caption">Woro Diary</figcaption>
                    </figure>
                    <figure class="circle-card">
                       <img src="{% static 'images/kitchenware.png' %}" alt="eicon" width="200" class="round-circle">
                       <figcaption class="caption">Practical Notebook</figcaption>
                    </figure>
                    <figure class="circle-card">
                       <img src="{% static 'images/toys.png' %}" alt="eicon" width="200" class="round-circle">
                       <figcaption class="caption">A5 Premium Notebook</figcaption>
                    </figure>
                   <figure class="circle-card">
                       <img src="{% static 'images/foodgrains.jpg' %}" alt="eicon" width="200" class="round-circle">
                       <figcaption class="caption">A4 Exercise Notebook</figcaption>
                   </figure>
                    <figure class="circle-card">
                       <img src="{% static 'images/handicraft.png' %}" alt="eicon" width="200" class="round-circle">
                       <figcaption class="caption">Spriral Notebook</figcaption>
                    </figure>
                    <figure class="circle-card">
                       <img src="{% static 'images/blanket.png' %}" alt="eicon" width="200" class="round-circle">
                       <figcaption class="caption">Practical Notebook</figcaption>
                    </figure>
                    <figure class="circle-card">
                       <img src="{% static 'images/rice.png' %}" alt="eicon" width="200" class="round-circle">
                       <figcaption class="caption">Practical Notebook</figcaption>
                    </figure>
                </div>
            </div>
        </section>
        <section id="intro_section">
            <div class="content">
                <h2>Our Team</h2>
                    <p>
                        We are passionate about connecting businesses to global opportunity, 
                        and this passion led to the founding of Slaavno by Raghvendra and Shabnam.
                    </p>
                <div class="intro_image1">
                    <div class="intro_image">
                        <img src="{% static 'images/intro.jpg' %}" alt="eicon">
                    </div>
                    <div class="intro_description">

                        <p>
                                Raghvendra has over 5 years of work experience in global business development and as a sports trader, 
                                Level-6, with Entain Group and William Hill, London, UK. 
                                He finished his postgraduate study in Global Business and International Trade, Level-7, at Coventry University, London, UK, and Leeds Beckett University, Leeds, UK. 
                                He has also achieved an export training certificate from the Federation of Indian Export Organizations (FIEO).
                        </p>
                    </div>
                </div>
                <div class="intro_image2">
                    <div class="intro_description">
                        <p>
                            Shabnam is passionate about global trade and technology. 
                            She brought a wealth of experience in information technology. 
                            She has over 4 years of professional experience in computer applications, where she helped businesses to solve complex technical issues. ‘I am actively involved in international trade and exploring the details of tariffs. 
                            I make sure I understand all the technical aspects, which allow me to confidently advise our customers.
                            ’ She graduated with a Master of Science in Computer Application from a recognized university in India.
                        </p>
                    </div>
                    <div class="intro_image">
                       <img src="{% static 'images/intro.jpg' %}" alt="eicon">
                    </div>
                </div>
            </div>
        </section>
        <div class="content">
        <section class="aboutusection" id="about" >
            <div class="aboutdetailcontainer">
            <div class="aboutuscontainer">
                <div class="paharagraph">
                    <p> 
                       <b>Company Registration no.</b>- BHOP241114SE005417
                    </p>
                    <p>
                        <b>GST no.</b>- 23AQCPT6455G1ZQ
                    </p>
                    <p>
                        <b>IEC code</b>- AQCPT6455G
                    </p>
                    <p class="about_company"><b>Slaavno is a trading name of XIport</b></p>
                </div>
            </div>
            <div class="contactuscontainer">
                <div class="heading">
                    <h2>Connect with us</h1>
                </div>
                <div class="contactdetail">
                    <ul>
                        <li>
                            <img src="{% static 'images/email.png' %}" alt="eicon" width="150">thakur.raghvendra@outlook.com
                        </li>   
                    
                        <li>
                            <img src="{% static 'images/call.png' %}" alt="eicon" width="150" class="check">+91 7869243089
                        </li>
                    </ul>
                </div>
                <div class="socialmedia">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook" class="fa fa-facebook"></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank" aria-label="linkedin" class="fa fa-linkedin"></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank" aria-label="Instagram" class="fa fa-instagram"></a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </section>
        </div>
        <section>
            
        </section>
        
    </main>
    <!-- Footer Section -->
    <footer class="footersection">
        <p>&copy; 2025 My Website. All rights reserved.</p>
    </footer>
    </div>
    </body>
</html>